---
import { SocialIcons } from "./SocialIcons";
import { SITE, MDCONFIG } from "@/config";
import { ArrowRight } from "lucide-react";
const currentYear = new Date().getFullYear();
---

{
    (
        <div
            onclick={"scrollToSection('top')"}
            class="fixed mx-8 bottom-10 flex origin-left -rotate-90 h-6 items-center"
        >
            <ArrowRight className="stroke-ring scale-125 hover:scale-150 transition delay-0 ease-in-out" />
            <a
                href={"mailto:" + SITE.mail}
                class="font select-none text-base px-2"
            >
                {SITE.mail}
            </a>
            <div class="font font-bold text-nowrap text-ring text-sm">
                2020-{currentYear}
            </div>
        </div>
    )
}
<style>
    .font {
        font-family: "MonaspaceRadon", sans-serif;
    }
</style>
